*
{
  margin: 0px;
  padding: 0px;
}

img
{
  width: 150px;
  height:150px;
}
body
{
  background-color: darkcyan;
  

  
}

table
{
  background-color: cyan;
  
}
body
{
  font-family: 'Roboto Condensed', sans-serif;
  text-align:justify;
}

.marco
{
  background-color: white;
  width: 60%;
  margin: auto;
}

p
{
  text-align:justify;
}
